
body{
    background-color: #f8f9fa !important;
}

.modal-social{
    /* background-color: red !important; */
    z-index: 2000;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
}